<ion-header>
  <ion-toolbar>
      <ion-title>
          About Me
      </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content style="text-align: center;">
  <h1> About Me </h1>
  <ion-img src="https://cdn.discordapp.com/attachments/938256282194944030/1106584609644351580/20230512_211120.jpg" style="height: 400px; padding-top: 10px; padding-bottom: 40px;"></ion-img>

  Name: Phannida Samaksaman (Cake)
  <br><br>
  Student ID: 63160016
  <br><br>
  Email: 63160016@go.buu.ac.th
  <br><br>
  Phone Number: 092-742-1615
</ion-content>